* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  touch-action: pan-x pan-y pan-left pan-down;
}
body {
  background-color: #2e2e2e;
  color: #f6f6f6;
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif;
}

button {
  background-color: #00ff94;
  font-size: 1.1rem;
  color: #1f1f1f;
  font-weight: bold;
  font-family: "Noto Sans KR", sans-serif;
  border: none;
  border-radius: 8px;
  width: 100%;
  height: 40px;
}

a {
  width: 100%;
  text-decoration: none;
  color: #f6f6f6;
}

.wrapper {
  padding: 30px 0;
  border-bottom: 1px solid #6b6b6b;
  overflow: hidden;
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
}

.address {
  width: 80%;
  font-size: 0.8rem;
  font-weight: lighter;
}

.ellip {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile-init {
  width: 45px;
}

.error-msg {
  color: #ff3535;
}

/* #root {
  width: 100vw;
  height: 100vh;
} */

#root-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#outer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 320px;
  max-width: 414px;
  width: 100%;
  height: 100%;
  max-height: 900px;
  background-color: #1f1f1f;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
}

#nav-wrapper {
  position: relative;
}

#holdings-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#modal-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  padding: 15px;
}

#modal-wrapper {
  min-width: 80%;
  max-width: 100%;
  background-color: #f6f6f6;
  color: #1f1f1f;
  border-radius: 10px;
  padding: 15px;
}

#modal-wrapper .title {
  display: flex;
  align-items: center;
  padding: 0 0 15px;
  font-size: 1.2rem;
  border-bottom: 1px solid #e0e0e0;
}

#modal-wrapper .content {
  padding: 15px 0;
  border-bottom: 1px solid #e0e0e0;
  line-height: 1.3em;
}

#modal-wrapper .button-wrapper {
  padding: 15px 0 0;
  display: flex;
  justify-content: flex-end;
}

.info {
  display: inline-flex;
}

.info.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.info .top .balance-info .balance {
  margin-bottom: 5px;
  font-size: 16pt;
  text-align: right;
}

.info .balance-info .balance .type {
  color: #00ff94;
  font-weight: bold;
  text-align: right;
}

.info .top .balance-info .dollar {
  color: #6b6b6b;
  font-size: 16pt;
  text-align: right;
}

.balance-info .balance .type {
  color: #00ff94;
  font-weight: bold;
  text-align: right;
}

#cont-wrapper {
  height: 100%;
  max-height: 825px;
  padding: 30px;
  overflow-y: auto;
  overflow-x: hidden;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 100px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 100px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#profile-wrapper {
  display: flex;
  flex-direction: column;
}

#profile-sub-wrapper {
  display: flex;
  margin-bottom: 30px;
}

#profile-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 45px;
  justify-content: space-between;
  margin-left: 15px;
}

#profile-info .name {
  font-size: 1.5rem;
  font-weight: bold;
}

#wallet-slider {
  display: flex;
  padding: 0 30px 0;
  width: 100%;
  overflow: auto;
  scroll-snap-type: x mandatory;
}

.wallet-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #242424;
  border-radius: 8px;
  overflow: hidden;
}

.wallet-card .top {
  font-size: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.wallet-card .top .balance-info .balance {
  text-align: right;
  margin-bottom: 5px;
}

.wallet-card .top .balance-info .balance .type {
  color: #00ff94;
  margin-right: 10px;
}

.wallet-card .top .balance-info .dollar {
  color: #6b6b6b;
  font-size: 1rem;
  text-align: right;
}

.wallet-card .address {
  width: 80%;
}

#contact-slider {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0;
  width: 100%;
  height: 100%;
  min-height: 300px;
  overflow-y: scroll;
}

.contact-img {
  width: 30px;
  margin-right: 5px;
}

.contact-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
}

.contact-info {
  align-items: center;
  display: flex;
  width: 100%;
  margin: 0 0 0 5px;
}
#constact-button {
  margin-top: 10px;
  width: 20%;
  height: 20px;
  background-color: #6b6b6b;
}
#constact-button-text {
  font-size: 8pt;
  color: #f6f6f6;
}

#month {
  display: flex;
  flex-direction: row;
}
#expense-balance {
  font-size: 1.2rem;
  margin-top: 20px;
  color: #ff3535;
  font-weight: normal;
}
#profit-balance {
  margin-top: 10px;
  color: #00ff94;
  font-size: 1.5rem;
  font-weight: normal;
}

#record-slider {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 0;
  padding: 10px 0;
  width: 100%;
  height: 100%;
  min-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

.record-list {
  max-width: 100%;
  padding: 10px 5px;
}

.record {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info img {
  margin: 0 8px 0 0;
}

p.balance {
  font-weight: bold;
}

#setting-wrapper {
  margin-top: 50px;
  padding-left: 10px;
}
#table-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.settingTable {
  display: flex;
  flex-direction: row;
  padding: 5px;
}
#my-info-text {
  margin: 10px 10px 0;
  font-size: 24px;
}

.noticeIcon {
  width: 45px;
}

#notice-text {
  margin: 10px 10px 0;
  font-size: 24px;
}

.rightArrow {
  margin-left: 140px;
}

#rA-notice {
  margin-left: 123px;
}

.withdrawalIcon {
  width: 45px;
}

#withdrawal-text {
  margin: 10px 10px 0;
  font-size: 24px;
}

#rA-withdrawal {
  margin-left: 122px;
}

#arrow-wrapper {
  position: absolute;
  top: -10px;
  margin: auto;
  cursor: pointer;
  transition: filter 0.2s;
}

#arrow-wrapper:hover {
  filter: brightness(0.8);
}

#send-title {
  margin-top: 10px;
  margin-left: 90px;
  font-size: 1.8rem;
  font-weight: bold;
}

#send-wrapper {
  width: 100%;
  margin: 70px 0 40px;
}

#send-input {
  width: 100%;
  border: none;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  color: #f6f6f6;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

#send-input::placeholder {
  color: #6b6b6b;
}

#button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #1f1f1f;
  padding: 5px;
  height: 75px;
}

.logo-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  outline: none;
  cursor: pointer;
}
#home-logo {
  fill: #f6f6f6;
}
.logo-title {
  color: #f6f6f6;
  font-size: 12px;
}
#home-title {
  color: #00ff94;
}

#title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

#search-wrapper {
  display: flex;
  flex-direction: row;
}

#search-box {
  width: 100%;
  padding: 10px;
  color: #f6f6f6;
  background-color: #333333;
  border-radius: 5px;
  border: none;
  outline: none;
}
/* 
#search-button{
  background-color:  #6b6b6b;
  border-radius: 5px;
} */

#plus-button {
  margin-left: 20px;
}

/* #contacts-slider2{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
} */

#intro-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#intro-wrapper .main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
  text-align: center;
}

#intro-wrapper .main-wrapper h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.5em;
}

#intro-wrapper .sub-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px 10px 30px;
  text-align: center;
}

.button {
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: filter 0.1s;
  transition-timing-function: ease-in-out;
}

.button:hover {
  filter: brightness(0.8);
}

.rounded {
  border-radius: 1000px;
}

span.main {
  font-weight: bold;
  color: #00ff94;
}

span.black {
  color: #1f1f1f;
}

label.sub {
  color: #7d7d7d;
}

input.sub {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 5px 10px;
  width: 80%;
  margin: 0 5px;
  border: none;
  outline: none;
  color: #f6f6f6;
  text-align: center;
  font-size: 1.1rem;
}

input.sub::placeholder {
  color: #7d7d7d;
}

p.sub {
  font-size: 1.2rem;
  line-height: 1.2em;
}

.pwd-strength-wrapper {
  width: 100%;
}

.pwd-strength-bar {
  text-align: center;
  width: 30%;
  padding: 5px;
  border-radius: 100px;
  background-color: #ff3535;
  margin: 0 0 15px;
}

.pwd-strength-bar.medium {
  background-color: #ffbf35;
  width: 60%;
}

.pwd-strength-bar.strong {
  background-color: #00ff94;
  color: #1f1f1f;
  font-weight: bold;
  width: 100%;
}

ul.pwd-strength-details {
  text-align: left;
  padding: 0 30px;
  list-style-type: circle;
}

ul.pwd-strength-details li {
  padding: 3px;
  list-style-type: "❌";
}

ul.pwd-strength-details li.active {
  color: #00ff94;
  list-style-type: "✅";
}

.background-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
}

.emailverify-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
}

@keyframes hidden {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(20%);
  }
}

.hidden {
  line-height: 2em;
  border-radius: 5px;
  font-weight: bold;
  animation: hidden 0.3s ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.hidden:hover {
  animation: none;
}
