* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  touch-action: pan-x pan-y pan-left pan-down;
}
body {
  background-color: #2e2e2e;
  color: #f6f6f6;
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif;
}

button {
  background-color: #00ff94;
  font-size: 1.1rem;
  color: #1f1f1f;
  font-weight: bold;
  font-family: "Noto Sans KR", sans-serif;
  border: none;
  border-radius: 8px;
  width: 100%;
  height: 40px;
}

a {
  width: 100%;
  text-decoration: none;
  color: #f6f6f6;
}

.wrapper {
  padding: 30px 0;
  border-bottom: 1px solid #6b6b6b;
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
}

.address {
  width: 80%;
  font-size: 0.8rem;
  font-weight: lighter;
}

p.ellip {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile-init {
  width: 45px;
}

.error-msg {
  color: #ff3535;
}

/* #root {
  width: 100vw;
  height: 100vh;
} */

#root-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#outer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 320px;
  max-width: 414px;
  width: 100%;
  height: 100%;
  max-height: 900px;
  background-color: #1f1f1f;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
}

#Holdings-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

#modal-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  padding: 15px;
}

#modal-wrapper {
  min-width: 80%;
  max-width: 100%;
  background-color: #f6f6f6;
  color: #1f1f1f;
  border-radius: 10px;
  padding: 15px;
}

#modal-wrapper .title {
  display: flex;
  align-items: center;
  padding: 0 0 15px;
  font-size: 1.2rem;
  border-bottom: 1px solid #e0e0e0;
}

#modal-wrapper .content {
  padding: 15px 0;
  border-bottom: 1px solid #e0e0e0;
  line-height: 1.3em;
}

#modal-wrapper .button-wrapper {
  padding: 15px 0 0;
  display: flex;
  justify-content: flex-end;
}

.Info {
  display: flex;
  flex-direction: row;
  margin-left: 40%;
}
.Info.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Info .top .balanceInfo .balance {
  margin-bottom: 5px;
  font-size: 16pt;
}

.Info .top .balanceInfo .balance .type {
  color: #00ff94;
  font-weight: bold;
  /* margin-right: 10px; */
}

.Info .top .balanceInfo .dollar {
  color: #6b6b6b;
  font-size: 16pt;
  text-align: right;
}

#cont-wrapper {
  height: 100%;
  max-height: 825px;
  padding: 30px;
  overflow-y: auto;
  overflow-x: hidden;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 100px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 100px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#profile-wrapper {
  display: flex;
  flex-direction: column;
}

#profile-sub-wrapper {
  display: flex;
  margin-bottom: 30px;
}

#profile-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 45px;
  justify-content: space-between;
  margin-left: 15px;
}

#profile-info .name {
  font-size: 1.5rem;
  font-weight: bold;
}

#wallet-slider {
  display: flex;
  padding: 0 30px 0;
  width: 100%;
  overflow: auto;
  scroll-snap-type: x mandatory;
}

.wallet-card {
  width: 300px;
  height: 175px;
  padding: 20px;
  /* margin-right: 15px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #242424;
  border-radius: 5px;
}

.wallet-card .top {
  font-size: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.wallet-card .top .balanceInfo .balance {
  text-align: right;
  margin-bottom: 5px;
}

.wallet-card .top .balanceInfo .balance .type {
  color: #00ff94;
  margin-right: 10px;
}

.wallet-card .top .balanceInfo .dollar {
  color: #6b6b6b;
  font-size: 1rem;
  text-align: right;
}

.wallet-card .address {
  width: 80%;
}

#contacts-slider {
  display: flex;
  flex-direction: column;
  padding: 20px 0 0 0;
  width: 100%;
  height: 250px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
#record-slider {
  display: flex;
  flex-direction: column;
  padding: 20px 0 0 0;
  width: 100%;
  height: 250px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.constacts-init {
  width: 30px;
}

#contacts-list {
  display: flex;
  height: 35px;
  margin: 0 0 10px 0;
}

#contacts-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 0 5px;
}

#send-info {
  margin: 5px 10px 0;
  color: #00ff94;
}

#send-record{
  display: flex;
  flex-direction: row;
}
#send-balanceInfo{
  margin-top: 5px;
  margin-left: 200px;
}
#send-balance{
  font-size: 10pt;
  color: #00ff94;
}
#send-dollar{
  font-size: 8pt;
  color: #6b6b6b;
}

#accept-info {
  margin: 10px 10px 0;
 
}

#accept-record{
  display: flex;
  flex-direction: row;
}
#accept-balanceInfo{
  margin-top: 5px;
  margin-left: 142px;
}
#accept-balance{
  font-size: 10pt;
  color: #00ff94;
}
#accept-dollar{
  font-size: 8pt;
  color: #6b6b6b;
}

#button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #1f1f1f;
  padding: 5px;
  height: 75px;
}

.logo-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  outline: none;
  cursor: pointer;
}
#home-logo {
  fill: #f6f6f6;
}
.logo-title {
  color: #f6f6f6;
  font-size: 12px;
}
#home-title {
  color: #00ff94;
}

#title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

#search-wrapper {
  display: flex;
  flex-direction: row;
  margin: 30px 0 0 0;
}

#search-box {
  width: 100%;
  padding: 10px;
  color: #f6f6f6;
  background-color: #333333;
  border-radius: 5px;
  border: none;
  outline: none;
}
/* 
#search-button{
  background-color:  #6b6b6b;
  border-radius: 5px;
} */

#plus-button {
  margin-left: 20px;
}

/* #contacts-slider2{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
} */

#intro-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#intro-wrapper .main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
  text-align: center;
}

#intro-wrapper .main-wrapper h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.5em;
}

#intro-wrapper .sub-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px 10px 30px;
  text-align: center;
}

.button {
  padding: 10px;
  background-color: #00ff94;
  color: #1f1f1f;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: filter 0.1s;
  transition-timing-function: ease-in-out;
}

.button:hover {
  filter: brightness(0.8);
}

.rounded {
  border-radius: 1000px;
}

span.main {
  font-weight: bold;
  color: #00ff94;
}

span.black {
  color: #1f1f1f;
}

label.sub {
  color: #7d7d7d;
}

input.sub {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 5px 10px;
  width: 80%;
  margin: 0 5px;
  border: none;
  outline: none;
  color: #f6f6f6;
  text-align: center;
  font-size: 1.1rem;
}

input.sub::placeholder {
  color: #7d7d7d;
}

p.sub {
  font-size: 1.2rem;
  line-height: 1.2em;
}

.pwd-strength-wrapper {
  width: 100%;
}

.pwd-strength-bar {
  text-align: center;
  width: 30%;
  padding: 5px;
  border-radius: 100px;
  background-color: #ff3535;
  margin: 0 0 15px;
}

.pwd-strength-bar.medium {
  background-color: #ffbf35;
  width: 60%;
}

.pwd-strength-bar.strong {
  background-color: #00ff94;
  color: #1f1f1f;
  font-weight: bold;
  width: 100%;
}

ul.pwd-strength-details {
  text-align: left;
  padding: 0 30px;
  list-style-type: circle;
}

ul.pwd-strength-details li {
  padding: 3px;
  list-style-type: "❌";
}

ul.pwd-strength-details li.active {
  color: #00ff94;
  list-style-type: "✅";
}
